<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>  <!-- socket.io -->
 

  <title>Document</title>
</head>
<body>
 
  <input type="text" id="message" placeholder="Type a message">
  <button onclick="sendMessage()" id="send">Send</button>
  <div>   </div> <!-- div for messages -->

<script>
  const socket = io('http://localhost:3000');
  
  socket.on('connection')
  socket.on('message', (data) => {
    document.querySelector('div').appendChild(document.createElement('p')).innerHTML = data;
  });


  const sendMessage = () => {
    const message = document.getElementById('message').value;
    socket.emit('message', message);
  }


</script>


</body>

</html>